<h2>Witamy w Diageo Professional Team!</h2>


<p>
Zapraszamy do udziału w teście wiedzy o markach Diageo.
</p>

<p>Test jest dostępny pod adresem: <a href="{{ adress }}" target="_blank">{{ adress }}</a></p>
<p>Twoje hasło: {{ password }}</p>

<p>Na pytania możecie odpowiadać 8 października między godzinami {{ start_date.format('H.i') }}
a {{ end_date.format('H.i') }}
</p>

<p>
Wypełnij krótką ankietę, odpowiedz na nasze pytania i ciesz się nagrodami!
</p><p>
Dla trzech osób, które jako pierwsze opowiedzą prawidłowo - przewidzieliśmy nagrody.
</p>

<p>
1. miejsce - Singleton 0,7l</p>
<p>
2. miejsce - Johnnie Walker Black Label 0,5l</p>
<p>
3. miejsce - Smirnoff Black 0,5l</p>


<p>
Pamiętajcie - liczy się czas i prawidłowe odpowiedzi!</p>


<p>
Zapraszamy do zabawy!</p>

