{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="row"><br /></div>
    <div class="row">
        <div class="large-4 columns large-offset-4 large-centered text-center">
            <h3>Wypełnij quiz:</h3>
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns large-offset-2 large-centered text-left">
            <form action="{{ path('thxpage') }}" method="post" id="quizform">
                {% for question in questions %}
                <div class="row question">
                    <label><strong>{{ question.content }}</strong></label>
                    <label><input type="radio" name="quiz[{{ question.hashQuestion }}]" value="{{ question.hashAns1 }}" />
                       {{ question.ans1 }}</label>

                    <label><input type="radio" name="quiz[{{ question.hashQuestion }}]" value="{{ question.hashAns2 }}" />
                       {{ question.ans2 }}</label>

                    <label><input type="radio" name="quiz[{{ question.hashQuestion }}]" value="{{ question.hashAns3 }}" />
                       {{ question.ans3 }}</label>

                </div>
                <br />
                {% endfor %}
                <br />
                <div class="row">
                    <input type="submit" class="button" value="Zapisz" />
                </div>
            </form>
        </div>
    </div>
    <div id="firstModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
        <h2 id="firstModalTitle">Musisz odpowiedzieć na wszystkie pytania</h2>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function(){

        $("#quizform").submit(function(event){
            var question_count = $('.question').length;
            var ans_count = $("input[type='radio']:checked").length;

            if (question_count !== ans_count){
                $('#firstModal').foundation('reveal','open');
            }else{
                return true;
            }
            event.preventDefault();
        });

    });
</script>
{% endblock %}